@font-face {
    font-family: 'Roboto'; /*a name to be used later*/
    src: url('fonts/Roboto-Regular.ttf'); /*URL to font*/
}

html, body {
    height: 100%;
    color: rgba(0, 0, 0, .87);
    background-color: #fff;
}

body {
    margin: 0;   
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

nav {
    width: 304px;
    transition: all .3s ease .15s;
    z-index: 60;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}

nav > * {
    opacity: 1;
    transition: all 1s;
}

main {
    flex: 1;
    background-color: #ededed;  
    overflow-y: auto;
    position: relative;
    -webkit-overflow-scrolling:touch;
}

.toolbar {
    background-color: rgb(63,81,181);
    color: rgba(255, 255, 255, .87);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
}

.toolbar .toolbar-tools {
    padding: 0 16px; 
    height: 64px;
    display: flex;
    align-items: center;
}

.toolbar .toolbar-tools-bottom {
    padding: 0 16px; 
    height: 64px;
    display: flex;
    align-items: center;
}

.toolbar .toolbar-tools-bottom .toolbar-title {
    font-size: 22px;
    margin-left: 38px;
    padding-left: 18px;
}

.toolbar .toolbar-tools .stretch {
    flex: auto;   
}

.toolbar .toolbar-tools .toolbar-title {
    flex: auto;
    font-size: 22px;
    padding-left: 18px;
}

.toolbar .toolbar-action {
    width: 38px;
    height: 38px;
    display: flex;
    padding-top: 3px;
    padding-left: 3px;
    border-radius: 3px;
    align-items: center;
    text-decoration: none;
}

.toolbar a > i {
    margin: auto;
}

a.toolbar-action, a.toolbar-action:active, a.toolbar-action:visited,  {
    color: rgba(255, 255, 255, 0.87);
}

a.toolbar-action:hover {
    background-color: rgba(255, 255, 255, 0.12);   
}

.toolbar button:hover {
    background-color: rgba(255, 255, 255, .2);
}

.hide-on-big {
    opacity: 0;
    transition: all .3s;
}

.list {
    padding: 8px 0;  
    display: flex;
    flex-direction: column;
}

.list .list-header {
    color: rgba(0, 0, 0, .54);
    font-size: 14px;
    padding: 10px 16px 10px;
}

.list .list-header .primary-text {
    float: left;
}

.list .list-header .secondary-text {
    float: right;
}

.list .list-item {
    display: flex;
    flex-direction: row;
    padding: 0 16px;
}

.list .active {
    background-color: rgba(0, 0, 0, .10);   
}

a.list-item, a.list-item:active, a.list-item:visited {
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
}

a.list-item:hover {
    background-color: rgba(0, 0, 0, .05);   
}

.list .list-item i.material-icon {
    margin: 16px 16px 12px 0;
}

.list .list-item .list-item-text {
    margin: 19px 0 16px;
    flex: 1;
}

.list .list-item .list-item-text h3 {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    margin-bottom: 6px;
}

.list .list-item .list-item-text p {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.54); 
}

.list .list-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 19px 16px 8px 0;
}

.list .list-item img.material-icon {
    width: 28px;
    height: 28px;
    margin: 12px 16px 12px 0;
}

.fab-bottom-right {
    position: fixed;
    bottom: 36px;
    right: 48px;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    background-color: rgb(63,81,181);
    color: rgba(255, 255, 255, .87);
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    text-decoration: none;
}

a.fab-bottom-right, a.fab-bottom-right:active, a.fab-bottom-right:visited, {
    color: rgb(255, 255, 255, 0.87);
}

a.fab-bottom-right:hover {
    text-decoration: none;
    background-color: #5C6BC0;
}

.fab-bottom-right i.material-icon {
    display: block;
    margin: auto;
}

.black-text {
    color: rgba(0, 0, 0, .87) !important;   
}

@media screen and (max-width: 640px) {
    nav {
        width: 0;   
    }
    
    nav > * {
        opacity: 0;   
    }
    
    .hide-on-big {
        opacity: 1;
    }
}

/** FORMS **/
.cool-form {
    margin: 30px 45px;
    flex-direction: column;
}

.cool-form .input-group {
    margin-bottom: 24px;
    
}

.cool-form .input-group > label {
    font-size: 13px;   
    color: rgba(0, 0, 0, 0.54);
}

.cool-form .input-group > input[type="text"] {
    margin-top: 3px;
    display: block;
    font-size: 16px;
    padding: 5px 0;
    border: none;
    background: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    width: 100%;
    transition: border .3s;
}

.cool-form .input-group > input[type="text"]:focus {
    border-bottom: 2px solid #3c5eb9;
}

.cool-form .input-group > input[type="text"]:focus ~ .cool-form .input-group > label {
    color: #3c5eb9;
}