<div layout="column" flex>
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button ng-click="backToMeals()" class="md-icon-button">
                <md-icon aria-label="Menu" md-svg-icon="navigation:arrow_back"></md-icon>
            </md-button>
            <h1 id="toolbarLabel" class="md-toolbar-tools">{{ toolbar.label }}</h1>
            <span flex></span>
            <md-button ng-click="toggleOverflow()" class="md-icon-button" aria-label="More">
                <md-icon md-svg-icon="svg/more-vert.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-padding layout-margin>
        <p>Unit: {{ currentMeal.unit }}</p>
        <p>Calories: {{ currentMeal.calories }}</p>
    </md-content>
    <md-button class="md-primary md-fab md-fab-bottom-right" href="#/meals/add" id="#appFab">
        FAB
    </md-button>
</div>