<html lang="en" ng-app="StarterApp">

<head>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta name="viewport" content="initial-scale=1" />
</head>

<body layout="row" ng-controller="defaultController" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" class="md-primary md-hue-2">
        <div class="sidenav-header md-primary md-hue3">
            <img src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" alt="logo" />
            <h1>Daily Meal Journal</h1>
        </div>
        <md-list>
            <md-list-item ng-click="navigateTo('/journal')">
                <md-icon md-svg-icon="navigation:apps"></md-icon>
                <p>My Journal</p>
            </md-list-item>
            <md-list-item ng-click="navigateTo('/meals')">
                <md-icon md-svg-icon="device:network-wifi"></md-icon>
                <p>Meals</p>
            </md-list-item>
            <md-list-item ng-click="navigateTo('/about')">
                <md-icon md-svg-icon="alert:error_outline"></md-icon>
                <p>About</p>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <md-content layout="" ng-view md-scroll-y flex></md-content>

    <!-- Angular Material Dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-messages.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
    <script src="app.js"></script>
</body>

</html>