<div layout="column" flex>
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button ng-click="backToMeals()" class="md-icon-button">
                <md-icon aria-label="Menu" md-svg-icon="navigation:arrow_back"></md-icon>
            </md-button>
            <h1 id="toolbarLabel" class="md-toolbar-tools">{{ ui.toolbarLabel }}</h1>
            <span flex></span>
            <md-button ng-click="toggleOverflow()" class="md-icon-button" aria-label="More">
                <md-icon md-svg-icon="svg/more-vert.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-padding layout-margin>
        <p>Unit: {{ journal.unit }}</p>
        <p>Calories: {{ journal.calories }}</p>
        <form name="addMealForm">
            <md-input-container>
                <label>Enter Quantity</label>
                <input type="number" name="quantity" pattern="[1-9]+" ng-model="addMeal.quantity" required>
                <div ng-messages="addMealForm.quantity.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="number">This must be a number</div>
                    <div ng-message="pattern">This must be a positive integer</div>
                </div>
            </md-input-container>
        </form>
    </md-content>
    <md-button class="md-primary md-fab md-fab-bottom-right" href="#/meals/add" id="#appFab">
        FAB
    </md-button>
</div>