.md-toolbar-tools {
    font-size: inherit;
    font-weight: 500;
    margin: inherit;
}

.sidenav-header img {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.sidenav-header h1 {
    margin-top: -10px;
    color: #fff;
    text-align: center;
    font-weight: normal;
}

.toolbar-search-box {
    border: none;
    background: none;
    color: #fff;
    outline: none;
}