<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <md-button ng-click="backToMeals()" class="md-icon-button">
            <md-icon aria-label="Menu" md-svg-icon="navigation:arrow_back"></md-icon>
        </md-button>
        <h1 id="toolbarLabel" class="md-toolbar-tools">{{ ui.toolbarLabel }}</h1>
        <span flex></span>
        <md-button ng-click="addMeal()" class="md-icon-button" aria-label="More">
            <md-icon md-svg-icon="action:done"></md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-content layout-padding class="padding-big">
    <form name="addMealForm">
        <md-input-container class="md-icon-float">
            <label>Meal Name</label>
            <md-icon md-svg-src="svg/cutlery6.svg" class="calories"></md-icon>
            <input type="text" name="mealName" ng-model="mealName" required>
            <div ng-messages="addMealForm.mealName.$error">
                <div ng-message="required">This is <b>required</b>.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-icon-float">
            <label>Default Quantity</label>
            <md-icon md-svg-icon="content:add_circle" class="quantity"></md-icon>
            <input type="text" name="defaultQuantity" pattern="[1-9]{1}\d*" ng-model="defaultQuantity" required>
            <div ng-messages="addMealForm.defaultQuantity.$error">
                <div ng-message="required">This is <b>required</b>.</div>
                <div ng-message="pattern">This should be a positive integer.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-icon-float">
            <label>Unit</label>
            <md-icon md-svg-icon="image:texture" class="calories"></md-icon>
            <input type="text" name="unit" ng-model="unit" required>
            <div ng-messages="addMealForm.unit.$error">
                <div ng-message="required">This is <b>required</b>.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-icon-float">
            <label>Calories</label>
            <md-icon md-svg-src="svg/health-clinic2.svg" class="calories"></md-icon>
            <input type="text" name="calories" pattern="[1-9]+\d*(\.\d+)?" ng-model="calories" required>
            <div ng-messages="addMealForm.calories.$error">
                <div ng-message="required">This is <b>required</b>.</div>
                <div ng-message="pattern">This should be a positive decimal.</div>
            </div>
        </md-input-container>
    </form>
</md-content>